h2{
	font-family: 'Slabo 27px', serif;
}

h3{
	font-family: 'Open Sans Condensed', sans-serif;
	font-weight: bold;
}

.btn{
	font-family: 'Ubuntu Condensed', sans-serif;
	font-size: 18px;
}
.lead{
	font-family:'Josefin Sans', sans-serif;
}
.navbar-brand{
	font-size: 36px;
	font-family: 'Open Sans Condensed', sans-serif;
}

#navbar{
	font-size: 24px;
	font-family: 'Open Sans Condensed', sans-serif;

}

.featurette-divider{
	padding: 0!important;
	position: relative;
	
}

.row.featurette{
	padding: 0!important;
	margin-top: -40px!important;
}

body{
	background-color: white;
	padding-top: 60px;
}

#embed-map-display img {
	max-width: none!important;
	background: none!important;
	font-size: inherit;
            
}

#test{
	margin-bottom: -60px!important;
}

#located{
		margin-top: -600px!important;
}


/** NAV BAR COLORS **/ 
.nav li:hover:nth-child(8n+1), .nav li.active:nth-child(8n+1){
  border-bottom: #C4E17F 3px solid;
}
.nav li:hover:nth-child(8n+2), .nav li.active:nth-child(8n+2){
  border-bottom: #F7FDCA 3px solid;
}
.nav li:hover:nth-child(8n+3), .nav li.active:nth-child(8n+3){
  border-bottom: #FECF71 3px solid;
}
.nav li:hover:nth-child(8n+4), .nav li.active:nth-child(8n+4){
  border-bottom: #F0776C 3px solid;
}
.nav li:hover:nth-child(8n+5), .nav li.active:nth-child(8n+5){
  border-bottom: #DB9DBE 3px solid;
}
.nav li:hover:nth-child(8n+6), .nav li.active:nth-child(8n+6){
  border-bottom: #C49CDE 3px solid;
}
.nav li:hover:nth-child(8n+7), .nav li.active:nth-child(8n+7){
  border-bottom: #669AE1 3px solid;
}
.nav li:hover:nth-child(8n+8), .nav li.active:nth-child(8n+8){
  border-bottom: #62C2E4 3px solid;
}


/** GALLERY **/
.hide-bullets {
    list-style:none;
    margin-left: -40px;
    margin-top:20px;
}

.thumbnail {
    padding: 0;
}

.carousel-inner>.item>img, .carousel-inner>.item>a>img {
    width: 100%;
}